
html, body {
  display: grid;
  row-gap: 5%;
  height: 100%;
  padding: 2%;
  margin: 1px;
  background: #f7f5ec;
  font-family: "Audiowide", sans-serif;

}

h1{
  font-size: 250%; 
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title description"
    "line line";
    background: linear-gradient(to right, #E9F8FF #90B2D8, #C1E3FF);
}

#heading-title{
  grid-area: title;
}

#heading-description{
  position: relative;
  grid-area: description;
  text-align: right;
  letter-spacing: .2rem;
  margin-top: 5%;
  line-height: 2em;
}

.h_line{ 
  grid-area: line;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


#map-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 5%;
    /* configure the size of the map */
}

#map {
  position: relative;
  height: 500px; 
  border:1px dashed #03062e;
  border-radius: 5px;
}

.legendbox {
    font-family: "Lucida Console", "Courier New", monospace;
    width: 150px;
    border:1px dashed #f7f5ec;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.5;
    background: #03062e;
    color: #f7f5ec;
    font-size: 12px;
    line-height: 18px;
}

#title {
    font-family: "Playfair Display";
    overflow: hidden;
    position: absolute;  
    float:right;   
    font-size: 26px;
    line-height: 10px;
    padding: 10px;
    margin: 10px;
    top: 0;
    color: #f7f5ec;
    z-index: 1001
}

#project-description{
  line-height: 1.7em;
}
